*{
    padding: 0;
    margin:0;
}
p{
    margin-bottom: 20px;
}
header{
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 10;
}
nav{
    float: left;
}

nav ul{
    list-style: none;
    overflow: hidden;
}

nav ul li{
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
nav ul li a{
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}
nav ul li:hover{
    background: #3ead47;
}
.contenido{
    padding-top: 80px;
}
.wrapper{
    width: 80%;
    margin: auto;
    overflow: hidden;
}